@model IEnumerable<cmsdn.Models.Session>

@{
    ViewData["Title"] = "Session List";
    Layout = "~/Views/Shared/_LayoutSession.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Registered Sessions</h1>
            </div>

    <div class="filter-search-container mb-3">
        <div class="input-group">
            <input type="text" class="form-control" id="searchName" placeholder="Search by teacher name" />
            <button class="btn btn-primary" type="button" id="searchButton">Search</button>
        </div>
        <div class="input-group mt-2">
            <select class="form-select" id="filterClass">
                <option value="">All Classes</option>
                @foreach (var sessionClass in Model.Select(s => s.Class).Distinct())
                {
                    <option value="@sessionClass">@sessionClass</option>
                }
            </select>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Teacher Name</th>
                            <th>Class</th>
                            <th>Subject</th>  <!-- Add Subject column -->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="sessionTableBody">
                        @foreach (var session in Model)
                        {
                            <tr data-session-id="@session.Id">
                                <td>@session.Date.ToShortDateString()</td>
                                <td>@session.Time</td>
                                <td>@session.TeacherName</td>
                                <td>@session.Class</td>
                                <td>@session.Subject</td>  <!-- Display Subject -->
                                <td>
                                    <button class="btn btn-danger delete-session-button" data-session-id="@session.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
        </table>
        </div>
     </div>

    </div>
</div>



<form asp-controller="Session" asp-action="DeleteSession" method="post" id="deleteForm" style="display:none;">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="deleteSessionId" value="" />
</form>


@section Scripts {
    <script src="~/js/session_script.js"></script>
}
